.git
.env
**/.env
**/.env.*
.superpowers
docs
api/vendor
api/storage/logs/*
!api/storage/logs/.gitignore
api/storage/framework/cache/data/*
api/storage/framework/sessions/*
!api/storage/framework/sessions/.gitignore
api/storage/framework/views/*
!api/storage/framework/views/.gitignore
api/bootstrap/cache/*.php
web/node_modules
web/dist
api/storage/app/*
!api/storage/app/.gitignore
api/storage/app/private/*
!api/storage/app/private/.gitignore
api/storage/app/public/*
!api/storage/app/public/.gitignore
api/storage/*.key
api/storage/framework/testing
api/.phpunit.result.cache
api/tests
api/public/hot
api/public/build
**/CLAUDE.md
**/.DS_Store
web/coverage
web/.eslintcache
